litellm==1.52.3

from litellm_demo import completion
import os

## set ENV variables
# os.environ["OPENAI_API_KEY"] = "your-api-key"


response = completion(
  model="gpt-3.5-turbo",
  messages=[{ "content": "Hello, how are you?","role": "user"}]
)

print(response.choices[0])